<a href="https://colab.research.google.com/github/Subarna-Liza/ML/blob/main/Impact_of_Electronic_Gadget_on_students_Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df=pd.read_csv('gdrive/My Drive/Colab Notebooks/The Impact of Electronic Gadget Uses with Academic Performance among University Students.csv')
df

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,Female,4,Information Technology,2,3.00-3.49,Increase,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,Male,Post Graduate,Business Management,4,3.00-3.49,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,Male,3,Information Technology,3,3.50 - 3.99,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,Female,3,Engineering,3,2.50-2.99,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,Male,2,Architecture & Built Environment,2,3.00-3.49,Increase,4-6,"Studies, Entertainment"
5,8/22/2022 11:02:07,Male,1,Creative Industries,2,3.50 - 3.99,None,1-3,"Studies, Entertainment"
6,8/22/2022 11:05:23,Female,4,Business Management,4,2.00-2.49,decrease,7-9,"Studies, Entertainment"
7,8/22/2022 11:06:11,Male,Post Graduate,Information Technology,3,2.50-2.99,decrease,10-12,"Studies, Online class, games, Movies, Phone call"
8,8/22/2022 11:08:11,Male,4,Education & Liberal Studies,2,3.00-3.49,None,10-12,"Studies, Entertainment"
9,8/22/2022 11:09:17,Male,4,Hospitality & Tourism,2,3.50 - 3.99,Increase,13-15,"Studies, Entertainment, Online class, Phone call"
10,8/22/2022 11:11:51,Male,1,Engineering,2,2.50-2.99,None,7-9,"Studies, Entertainment, Online class, games, M..."
11,8/22/2022 11:12:40,Male,2,Allied Health Sciences,3,3.00-3.49,Increase,10-12,"Studies, Entertainment"
12,8/22/2022 11:14:14,Male,3,Architecture & Built Environment,2,3.50 - 3.99,Increase,10-12,"Studies, Entertainment, Phone call"
13,8/25/2022 19:23:20,Male,1,Creative Industries,2,2.00-2.49,decrease,10-12,"Studies, Entertainment, Online class, Phone call"
14,8/25/2022 19:24:21,Male,3,Creative Industries,4,2.50-2.99,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
15,8/27/2022 3:14:25,Male,4,Business Management,3,3.00-3.49,None,7-9,"Studies, Entertainment, Online class"
16,8/27/2022 3:15:01,Male,Post Graduate,Education & Liberal Studies,2,3.50 - 3.99,Increase,10-12,"Studies, Entertainment, Online class, Phone call"
17,8/27/2022 3:15:59,Male,4,Hospitality & Tourism,2,3.00-3.49,None,7-9,"Studies, Entertainment, Online class, games, M..."
18,8/27/2022 3:16:34,Female,1,Engineering,3,3.00-3.49,None,10-12,"Studies, Entertainment, Online class, games, M..."
19,8/27/2022 3:17:01,Female,2,Business Management,1,3.00-3.49,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
20,9/16/2022 1:48:16,Female,1,Information Technology,2,3.00-3.49,Increase,4-6,"Studies, Entertainment, Phone call"
21,9/16/2022 1:48:44,Female,2,Hospitality & Tourism,3,3.00-3.49,decrease,7-9,"Studies, Entertainment, games, Movies, Phone call"
22,9/16/2022 1:49:23,Male,3,Education & Liberal Studies,2,3.50 - 3.99,None,4-6,"Studies, Online class, Movies, Phone call"
23,9/16/2022 1:49:56,Male,2,Business Management,2,3.00-3.49,decrease,7-9,"Studies, Entertainment, Online class, games, M..."
24,9/16/2022 1:50:42,Male,Post Graduate,Engineering,2,3.50 - 3.99,Increase,1-3,"Studies, Online class, Phone call"
25,9/16/2022 2:11:03,Female,3,Information Technology,3,2.50-2.99,None,7-9,"Studies, Online class, Phone call"
26,9/16/2022 2:13:15,Female,4,Architecture & Built Environment,2,3.50 - 3.99,None,10-12,"Online class, Movies, Phone call"
27,9/16/2022 2:13:55,Male,1,Allied Health Sciences,2,3.00-3.49,None,7-9,"Studies, Entertainment, Online class, games, M..."
28,9/16/2022 2:14:50,Female,Post Graduate,Creative Industries,4,3.00-3.49,None,7-9,"Studies, Entertainment, Online class, Phone call"
29,9/16/2022 2:15:34,Female,4,Business Management,4,3.50 - 3.99,decrease,4-6,"Studies, Entertainment, Online class"

#	Label encoding of Gender columns

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
df['Gender']=le.fit_transform(df['Gender'])

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,Information Technology,2,3.00-3.49,Increase,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,1,Post Graduate,Business Management,4,3.00-3.49,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,1,3,Information Technology,3,3.50 - 3.99,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,0,3,Engineering,3,2.50-2.99,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,1,2,Architecture & Built Environment,2,3.00-3.49,Increase,4-6,"Studies, Entertainment"

# Mapping of "Your study year" column

In [ ]:
df["Your study year"].value_counts()

4                8
3                6
1                6
Post Graduate    5
2                5
Name: Your study year, dtype: int64

In [ ]:
df["Your study year"] = df["Your study year"].str.replace(r"Post Graduate","4")

In [ ]:
df["Your study year"].head()

0    4
1    4
2    3
3    3
4    2
Name: Your study year, dtype: object

In [ ]:
df["Your study year"].dtypes

dtype('O')

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,Information Technology,2,3.00-3.49,Increase,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,1,4,Business Management,4,3.00-3.49,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,1,3,Information Technology,3,3.50 - 3.99,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,0,3,Engineering,3,2.50-2.99,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,1,2,Architecture & Built Environment,2,3.00-3.49,Increase,4-6,"Studies, Entertainment"

# Label encoding of**"Which department"** columns

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Which department']=le.fit_transform(df['Which department'])

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,7,2,3.00-3.49,Increase,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,1,4,2,4,3.00-3.49,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,1,3,7,3,3.50 - 3.99,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,0,3,5,3,2.50-2.99,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,1,2,1,2,3.00-3.49,Increase,4-6,"Studies, Entertainment"

# Mapping of "**What is your recent latest CGPA ?**" column

In [ ]:
df["What is your recent latest CGPA ?"].value_counts()

3.00-3.49      14
3.50 - 3.99     9
2.50-2.99       5
2.00-2.49       2
Name: What is your recent latest CGPA ?, dtype: int64

In [ ]:
df["What is your recent latest CGPA ?"]=df["What is your recent latest CGPA ?"].str.replace(r"3.00-3.49","0")
df["What is your recent latest CGPA ?"]=df["What is your recent latest CGPA ?"].str.replace(r"3.50 - 3.99","1")
df["What is your recent latest CGPA ?"]=df["What is your recent latest CGPA ?"].str.replace(r"2.50-2.99","2")
df["What is your recent latest CGPA ?"]=df["What is your recent latest CGPA ?"].str.replace(r"2.00-2.49","3")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,7,2,0,Increase,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,1,4,2,4,0,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,1,3,7,3,1,Increase,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,0,3,5,3,2,decrease,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,1,2,1,2,0,Increase,4-6,"Studies, Entertainment"

# Mapping of **"Is there an increase in your CGPA?"** column

In [ ]:
df["Is there an increase in your CGPA?"].value_counts()

Increase    11
None        11
decrease     8
Name: Is there an increase in your CGPA?, dtype: int64

In [ ]:
df["Is there an increase in your CGPA?"]=df["Is there an increase in your CGPA?"].str.replace(r"Increase","0")
df["Is there an increase in your CGPA?"]=df["Is there an increase in your CGPA?"].str.replace(r"None","1")
df["Is there an increase in your CGPA?"]=df["Is there an increase in your CGPA?"].str.replace(r"decrease","2")

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,7,2,0,0,4-6,"Studies, Entertainment, Phone call"
1,7/21/2022 2:19:26,1,4,2,4,0,2,1-3,"Studies, Entertainment, Online class, games, M..."
2,7/21/2022 18:55:02,1,3,7,3,1,0,4-6,"Studies, Entertainment, Online class, Phone call"
3,8/22/2022 10:01:30,0,3,5,3,2,2,1-3,"Studies, Entertainment, Online class, games, M..."
4,8/22/2022 10:02:05,1,2,1,2,0,0,4-6,"Studies, Entertainment"

# Label encoding of**"What is the purpose of buying the device?"** columns

In [ ]:
df["What is the purpose of buying the device?"].value_counts()

Studies, Entertainment, Online class, games, Movies, Phone call    7
Studies, Entertainment, Online class, Phone call                   7
Studies, Entertainment                                             5
Studies, Entertainment, Phone call                                 3
Studies, Entertainment, Online class                               2
Studies, Online class, Phone call                                  2
Studies, Online class, games, Movies, Phone call                   1
Studies, Entertainment, games, Movies, Phone call                  1
Studies, Online class, Movies, Phone call                          1
Online class, Movies, Phone call                                   1
Name: What is the purpose of buying the device?, dtype: int64

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['What is the purpose of buying the device?']=le.fit_transform(df['What is the purpose of buying the device?'])

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,7,2,0,0,4-6,5
1,7/21/2022 2:19:26,1,4,2,4,0,2,1-3,4
2,7/21/2022 18:55:02,1,3,7,3,1,0,4-6,3
3,8/22/2022 10:01:30,0,3,5,3,2,2,1-3,4
4,8/22/2022 10:02:05,1,2,1,2,0,0,4-6,1

# Label encoding of"**Average hour you spent using electronic devices for academic purposes in a day (hours).**" columns

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Average hour you spent using electronic devices for academic purposes in a day (hours).']=le.fit_transform(df['Average hour you spent using electronic devices for academic purposes in a day (hours).'])

In [ ]:
df.head()

,Timestamp,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,7/19/2022 12:26:34,0,4,7,2,0,0,3,5
1,7/21/2022 2:19:26,1,4,2,4,0,2,0,4
2,7/21/2022 18:55:02,1,3,7,3,1,0,3,3
3,8/22/2022 10:01:30,0,3,5,3,2,2,0,4
4,8/22/2022 10:02:05,1,2,1,2,0,0,3,1

## Dropping the unnessesary feature

In [ ]:
feature_drop=['Timestamp']
df=df.drop(feature_drop,axis=1)

In [ ]:
df.describe

<bound method NDFrame.describe of     Gender Your study year  Which department  \
0        0               4                 7
1        1               4                 2
2        1               3                 7
3        0               3                 5
4        1               2                 1
5        1               1                 3
6        0               4                 2
7        1               4                 7
8        1               4                 4
9        1               4                 6
10       1               1                 5
11       1               2                 0
12       1               3                 1
13       1               1                 3
14       1               3                 3
15       1               4                 2
16       1               4                 4
17       1               4                 6
18       0               1                 5
19       0               2                 2
20       0               1                 7
21       0               2                 6
22       1               3                 4
23       1               2                 2
24       1               4                 5
25       0               3                 7
26       0               4                 1
27       1               1                 0
28       0               4                 3
29       0               4                 2

    How many electronic devices do you use? What is your recent latest CGPA ?  \
0                                         2                                 0
1                                         4                                 0
2                                         3                                 1
3                                         3                                 2
4                                         2                                 0
5                                         2                                 1
6                                         4                                 3
7                                         3                                 2
8                                         2                                 0
9                                         2                                 1
10                                        2                                 2
11                                        3                                 0
12                                        2                                 1
13                                        2                                 3
14                                        4                                 2
15                                        3                                 0
16                                        2                                 1
17                                        2                                 0
18                                        3                                 0
19                                        1                                 0
20                                        2                                 0
21                                        3                                 0
22                                        2                                 1
23                                        2                                 0
24                                        2                                 1
25                                        3                                 2
26                                        2                                 1
27                                        2                                 0
28                                        4                                 0
29                                        4                                 1

   Is there an increase in your CGPA?  \
0                                   0
1                                   2
2                                   0
3                                   2
4                                   0
5                                   1
6                                   2
7                                   2
8                                   1
9                                   0
10                                  1
11                                  0
12                                  0
13                                  2
14                                  0
15                                  1
16                                  0
17                                  1
18                                  1
19                                  0
20                                  0
21                                  2
22                                  1
23                                  2
24                                  0
25                                  1
26                                  1
27                                  1
28                                  1
29                                  2

    Average hour you spent using electronic devices for academic purposes in a day (hours).  \
0                                                   3
1                                                   0
2                                                   3
3                                                   0
4                                                   3
5                                                   0
6                                                   4
7                                                   1
8                                                   1
9                                                   2
10                                                  4
11                                                  1
12                                                  1
13                                                  1
14                                                  3
15                                                  4
16                                                  1
17                                                  4
18                                                  1
19                                                  3
20                                                  3
21                                                  4
22                                                  3
23                                                  4
24                                                  0
25                                                  4
26                                                  1
27                                                  4
28                                                  4
29                                                  3

    What is the purpose of buying the device?
0                                           5
1                                           4
2                                           3
3                                           4
4                                           1
5                                           1
6                                           1
7                                           9
8                                           1
9                                           3
10                                          4
11                                          1
12                                          5
13                                          3
14                                          3
15                                          2
16                                          3
17                                          4
18                                          4
19                                          3
20                                          5
21                                          6
22                                          7
23                                          4
24                                          8
25                                          8
26                                          0
27                                          4
28                                          3
29                                          2  >

In [ ]:
df.head()

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,0,4,7,2,0,0,3,5
1,1,4,2,4,0,2,0,4
2,1,3,7,3,1,0,3,3
3,0,3,5,3,2,2,0,4
4,1,2,1,2,0,0,3,1

In [ ]:
y=df.iloc[:,5:6]
y.head()

  Is there an increase in your CGPA?
0                                  0
1                                  2
2                                  0
3                                  2
4                                  0

In [ ]:
y

   Is there an increase in your CGPA?
0                                   0
1                                   2
2                                   0
3                                   2
4                                   0
5                                   1
6                                   2
7                                   2
8                                   1
9                                   0
10                                  1
11                                  0
12                                  0
13                                  2
14                                  0
15                                  1
16                                  0
17                                  1
18                                  1
19                                  0
20                                  0
21                                  2
22                                  1
23                                  2
24                                  0
25                                  1
26                                  1
27                                  1
28                                  1
29                                  2

In [ ]:
x=df.drop(['Is there an increase in your CGPA?'],axis=1)
x

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,0,4,7,2,0,3,5
1,1,4,2,4,0,0,4
2,1,3,7,3,1,3,3
3,0,3,5,3,2,0,4
4,1,2,1,2,0,3,1
5,1,1,3,2,1,0,1
6,0,4,2,4,3,4,1
7,1,4,7,3,2,1,9
8,1,4,4,2,0,1,1
9,1,4,6,2,1,2,3
10,1,1,5,2,2,4,4
11,1,2,0,3,0,1,1
12,1,3,1,2,1,1,5
13,1,1,3,2,3,1,3
14,1,3,3,4,2,3,3
15,1,4,2,3,0,4,2
16,1,4,4,2,1,1,3
17,1,4,6,2,0,4,4
18,0,1,5,3,0,1,4
19,0,2,2,1,0,3,3
20,0,1,7,2,0,3,5
21,0,2,6,3,0,4,6
22,1,3,4,2,1,3,7
23,1,2,2,2,0,4,4
24,1,4,5,2,1,0,8
25,0,3,7,3,2,4,8
26,0,4,1,2,1,1,0
27,1,1,0,2,0,4,4
28,0,4,3,4,0,4,3
29,0,4,2,4,1,3,2

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.15,random_state=0)

In [ ]:
xtrain

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
24,1,4,5,2,1,0,8
27,1,1,0,2,0,4,4
11,1,2,0,3,0,1,1
17,1,4,6,2,0,4,4
22,1,3,4,2,1,3,7
5,1,1,3,2,1,0,1
16,1,4,4,2,1,1,3
8,1,4,4,2,0,1,1
14,1,3,3,4,2,3,3
23,1,2,2,2,0,4,4
20,0,1,7,2,0,3,5
1,1,4,2,4,0,0,4
29,0,4,2,4,1,3,2
6,0,4,2,4,3,4,1
4,1,2,1,2,0,3,1
18,0,1,5,3,0,1,4
19,0,2,2,1,0,3,3
9,1,4,6,2,1,2,3
7,1,4,7,3,2,1,9
25,0,3,7,3,2,4,8
3,0,3,5,3,2,0,4
0,0,4,7,2,0,3,5
21,0,2,6,3,0,4,6
15,1,4,2,3,0,4,2
12,1,3,1,2,1,1,5

In [ ]:
ytrain

   Is there an increase in your CGPA?
24                                  0
27                                  1
11                                  0
17                                  1
22                                  1
5                                   1
16                                  0
8                                   1
14                                  0
23                                  2
20                                  0
1                                   2
29                                  2
6                                   2
4                                   0
18                                  1
19                                  0
9                                   0
7                                   2
25                                  1
3                                   2
0                                   0
21                                  2
15                                  1
12                                  0

In [ ]:
xtest

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
2,1,3,7,3,1,3,3
28,0,4,3,4,0,4,3
13,1,1,3,2,3,1,3
10,1,1,5,2,2,4,4
26,0,4,1,2,1,1,0

In [ ]:
ytest

   Is there an increase in your CGPA?
2                                   0
28                                  1
13                                  2
10                                  1
26                                  1

# Decesion Tree implementation

In [ ]:
from sklearn import tree
DT=tree.DecisionTreeClassifier()

In [ ]:
model=DT.fit(xtrain,ytrain)

In [ ]:
accuracy_test=model.score(xtest,ytest)

In [ ]:
accuracy_test

0.6

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier()

In [ ]:
RF.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
RF_Accuracy_test_data=RF.score(xtest,ytest)

In [ ]:
RF_Accuracy_test_data

0.4

# Support Vector Machine Analysis SVM (Before scalling)

In [ ]:
from sklearn.svm import SVC
SM=SVC()

In [ ]:
SM.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
SM.score(xtest,ytest)

0.2

# Linear Regression implementation

In [ ]:
from sklearn.linear_model import LinearRegression
Reg=LinearRegression()

In [ ]:
Reg.fit(xtrain,ytrain)

LinearRegression()

In [ ]:
Reg.score(xtest,ytest)

-1.4688201898190658

In [ ]:
Reg.score(xtrain,ytrain)

0.3190886704594754

# KNN Algorithm Implementation

In [ ]:
xtrain.value_counts()

Gender  Your study year  Which department  How many electronic devices do you use?  What is your recent latest CGPA ?  Average hour you spent using electronic devices for academic purposes in a day (hours).  What is the purpose of buying the device?
0       1                5                 3                                        0                                  1                                                                                        4                                            1
1       2                2                 2                                        0                                  4                                                                                        4                                            1
        4                6                 2                                        1                                  2                                                                                        3                                            1
                                                                                    0                                  4                                                                                        4                                            1
                         5                 2                                        1                                  0                                                                                        8                                            1
                         4                 2                                        1                                  1                                                                                        3                                            1
                                                                                    0                                  1                                                                                        1                                            1
                         2                 4                                        0                                  0                                                                                        4                                            1
                                           3                                        0                                  4                                                                                        2                                            1
        3                4                 2                                        1                                  3                                                                                        7                                            1
                         3                 4                                        2                                  3                                                                                        3                                            1
                         1                 2                                        1                                  1                                                                                        5                                            1
        2                1                 2                                        0                                  3                                                                                        1                                            1
0       1                7                 2                                        0                                  3                                                                                        5                                            1
1       2                0                 3                                        0                                  1                                                                                        1                                            1
        1                3                 2                                        1                                  0                                                                                        1                                            1
                         0                 2                                        0                                  4                                                                                        4                                            1
0       4                7                 2                                        0                                  3                                                                                        5                                            1
                         2                 4                                        3                                  4                                                                                        1                                            1
                                                                                    1                                  3                                                                                        2                                            1
        3                7                 3                                        2                                  4                                                                                        8                                            1
                         5                 3                                        2                                  0                                                                                        4                                            1
        2                6                 3                                        0                                  4                                                                                        6                                            1
                         2                 1                                        0                                  3                                                                                        3                                            1
1       4                7                 3                                        2                                  1                                                                                        9                                            1
dtype: int64

In [ ]:
x.shape

(30, 7)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [ ]:
k=5
neigh=KNeighborsClassifier(n_neighbors=k)
neigh.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
 pred_y=neigh.predict(xtest)
 print("Accuracy of model at k =5 ",metrics.accuracy_score(ytest,pred_y))

Accuracy of model at k =5  0.2

# Feature scalling

In [ ]:
df

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Is there an increase in your CGPA?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,0,4,7,2,0,0,3,5
1,1,4,2,4,0,2,0,4
2,1,3,7,3,1,0,3,3
3,0,3,5,3,2,2,0,4
4,1,2,1,2,0,0,3,1
5,1,1,3,2,1,1,0,1
6,0,4,2,4,3,2,4,1
7,1,4,7,3,2,2,1,9
8,1,4,4,2,0,1,1,1
9,1,4,6,2,1,0,2,3
10,1,1,5,2,2,1,4,4
11,1,2,0,3,0,0,1,1
12,1,3,1,2,1,0,1,5
13,1,1,3,2,3,2,1,3
14,1,3,3,4,2,0,3,3
15,1,4,2,3,0,1,4,2
16,1,4,4,2,1,0,1,3
17,1,4,6,2,0,1,4,4
18,0,1,5,3,0,1,1,4
19,0,2,2,1,0,0,3,3
20,0,1,7,2,0,0,3,5
21,0,2,6,3,0,2,4,6
22,1,3,4,2,1,1,3,7
23,1,2,2,2,0,2,4,4
24,1,4,5,2,1,0,0,8
25,0,3,7,3,2,1,4,8
26,0,4,1,2,1,1,1,0
27,1,1,0,2,0,1,4,4
28,0,4,3,4,0,1,4,3
29,0,4,2,4,1,2,3,2

In [ ]:
df.shape

(30, 8)

In [ ]:
x_after = x

In [ ]:
x_after

,Gender,Your study year,Which department,How many electronic devices do you use?,What is your recent latest CGPA ?,Average hour you spent using electronic devices for academic purposes in a day (hours).,What is the purpose of buying the device?
0,0,4,7,2,0,3,5
1,1,4,2,4,0,0,4
2,1,3,7,3,1,3,3
3,0,3,5,3,2,0,4
4,1,2,1,2,0,3,1
5,1,1,3,2,1,0,1
6,0,4,2,4,3,4,1
7,1,4,7,3,2,1,9
8,1,4,4,2,0,1,1
9,1,4,6,2,1,2,3
10,1,1,5,2,2,4,4
11,1,2,0,3,0,1,1
12,1,3,1,2,1,1,5
13,1,1,3,2,3,1,3
14,1,3,3,4,2,3,3
15,1,4,2,3,0,4,2
16,1,4,4,2,1,1,3
17,1,4,6,2,0,4,4
18,0,1,5,3,0,1,4
19,0,2,2,1,0,3,3
20,0,1,7,2,0,3,5
21,0,2,6,3,0,4,6
22,1,3,4,2,1,3,7
23,1,2,2,2,0,4,4
24,1,4,5,2,1,0,8
25,0,3,7,3,2,4,8
26,0,4,1,2,1,1,0
27,1,1,0,2,0,4,4
28,0,4,3,4,0,4,3
29,0,4,2,4,1,3,2

In [ ]:
from sklearn.preprocessing import StandardScaler
STANDERDISATION=StandardScaler()
x_after_scalling=STANDERDISATION.fit_transform(Z)